<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href='.{{style}}'>
  </head>
  <body>
      {{> nav}}
      {{{content}}}
    <div class='posts'>
      {{#paginate posts}}
        <div class="post">
          <h2>{{data.title}}</h2>
          <p style="fontSize:10px">Written on {{data.date}}</p>
          <div class='post-content'>
            {{{content}}}
          </div>
        </div>
      {{/paginate}}
    </div>
  </body>
</html>
